<div class="display">
    <div>
        States
        <div class="arrow"></div>
    </div>
    <ul class="states-list showing">
        @foreach (Particle particle in simulation.particles)
        {
            <ListInstance instanceName="@particle.name"></ListInstance>
        }
    </ul>
    <div>
        Transitions
        <div class="arrow"></div>
    </div>
</div>



@code {
    [Parameter]
    public Simulation simulation { get; set; }
    [Parameter]
    public EventCallback<Simulation> simulationChanged { get; set; }

    private bool showList;
    private string displayList => showList ? "block" : "none";

    private void ToggleList()
    {
        showList = !showList;
    }
}

