<div class="display">
    <ul class="states-list showing">
        @foreach (Particle particle in simulation.particles)
        {
            <li>
                <div class="check-box"></div>
                <text>@particle.name</text>
            </li>
        }
    </ul>
</div>



@code {
    [Parameter]
    public Simulation simulation { get; set; }
    [Parameter]
    public EventCallback<Simulation> simulationChanged { get; set; }

    private bool showList;
    private string displayList => showList ? "block" : "none";

    private void ToggleList()
    {
        showList = !showList;
    }
}

