<div style="background-color: blue; width: 120px; height: 2000px;"></div>



@code {
    private bool showList;
    private string displayList => showList ? "block" : "none";

    private void ToggleList()
    {
        showList = !showList;
    }
}

