.display {
    width: 180px;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
}

.states-list {
    list-style: none;
}

.display li {
    background-color: red;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.check-box {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 5px;
}
