* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

.main {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: blue;
    gap: 10px;
    list-style: none;
}

.canvas {
    width: 100%;
    height: 100%;
    outline: none;
}

.bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: green;
    align-items: center;
}

#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img {
    height: 60%;
    width: auto;
    background-color: transparent;
    margin: 0px 10px;
}
