@page "/"
@using System;

<div class="main">
    <div class="top">
        <img class="image-logo" src="images\Logo UltraDES.png"/>
        <ul class="menu-list">
            <li>Run</li>
            <li>Item2</li>
            <li>Item3</li>
            <li>Item4</li>
            <li>Item5</li>
        </ul>
    </div>
    <div class="bottom">
        <Display @bind-simulation=simulation />
        <Canvas @bind-simulation=simulation />
    </div>
</div>

@*<div id="main system" class="main-layout"> 
    <Canvas @bind-simulation=simulation />
</div>*@

@code {
    private string cursorClass = "deffault-cursor";
    private float positionX = 100;
    private bool spacePressed = false;
    private bool isDragging = false;
    private bool redraw = false;
    private bool showingStates = false;

    private string stateArrowDirection = "fa fa-chevron-down";

    private int animationKey = 0;

    private Simulation simulation = new Simulation();

    private async Task ToggleStates()
    {
        showingStates = !showingStates;
        if (stateArrowDirection == "fa fa-chevron-down")
        {
            stateArrowDirection = "fa fa-chevron-up";
        } else
        {
            stateArrowDirection = "fa fa-chevron-down";
        }
        animationKey++;
        await InvokeAsync(StateHasChanged);
    }
}